<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
    </div>
    <div>
        <label>ability:
            <input [(ngModel)]="hero.ability" placeholder="ability" />
        </label>
    </div>

    <div>-----</div>
    <div>
        <label>Shorting Length:
            <input [(ngModel)]="shortinglength">
        </label>
    </div>

    <div>
        <label>Shorting Suffix:
            <input [(ngModel)]="shortingsuffix">
        </label>
    </div>

    <div><span><b>Shorted Name:</b> </span>{{hero.name | shortHeroName: shortinglength : shortingsuffix}}</div>

    <button (click)="goBack()">go back</button>


</div>